@import "./toolbox/theme.css";

.Welcome {
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.Welcome h1 {
  text-align: center;
  font-size: 4.0em;
}



@keyframes Welcome-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}